* {
  margin: 0%;
  padding: 0%;
}
.container{
  display: flex;
  align-items: center;
  padding: 20px;
}

.box{
  padding: 50px;
  font-size: 20px;
}

.site{
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  padding-top: 15px;
}

.date {
  padding-top: 20px;
}

.paragraph {
  padding-top: 20px;
}

.nav {
  background-color: #F55A5A;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.image {
  width: 35%;
  max-width: 265px;
  height: 275px;
  border-radius: 10px;
  object-fit: cover;
}


