* {
  margin: 0%;
  padding: 0%;
}

.header {
  display: flex;
  color: aliceblue;
  background-color: #F55A5A;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.header .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* note: gap is not supported in Safari < 14 */
  gap: 0.5rem;
}

.header .icon {
  display: flex;
  font-size: 2rem;
}

.card {
  display: flex;
  align-items: center;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.box {
  padding: 0px 24px;
}

.image {
  width: 35%;
  max-width: 250px;
  height: 260px;
  object-position: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.location-icon-text {
  display: flex;
}

.location-link a {
  color: darkgray;
  padding-left: 16px;
}

.location-icon {
  display: flex;
  color: #F55A5A;
}

.place {
  padding-top: 8px;
  padding-bottom: 24px;
}
.description {
  padding-top: 16px;;
}